[submodule ".vim/pack/typescript/start/typescript-vim"]
	path = .vim/pack/typescript/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule ".vim/pack/vendor/start/nerdtree-git-plugin"]
	path = .vim/pack/vendor/start/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/pack/vendor/start/vim-devicons"]
	path = .vim/pack/vendor/start/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = git@github.com:ryanoasis/nerd-fonts.git
[submodule ".vim/pack/vendor/start/vim-prettier"]
	path = .vim/pack/vendor/start/vim-prettier
	url = git@github.com:prettier/vim-prettier.git
