[submodule ".vim/pack/typescript/start/typescript-vim"]
	path = .vim/pack/typescript/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/pack/vendor/start/nerdtree"]
	path = .vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/vendor/start/nerdtree-git-plugin"]
	path = .vim/pack/vendor/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/pack/vendor/start/vim-devicons"]
	path = .vim/pack/vendor/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "nerd-fonts"]
	path = nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
[submodule ".vim/pack/vendor/start/vim-prettier"]
	path = .vim/pack/vendor/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule ".vim/pack/vendor/start/vim-airline"]
	path = .vim/pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/vendor/start/vim-fugitive"]
	path = .vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/vendor/start/coc.nvim"]
	path = .vim/pack/vendor/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
