[user]
  email = git@brenosalles.com
  name = Breno Salles
[core]
  editor = vim
  pager = delta
[merge]
  tool = diffconflicts
[mergetool]
  keepBackup = false
  keepTemporaries =
[mergetool "diffconflicts"]
  cmd = vim -c DiffConflicts \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
  trustExitCode = true
[delta]
  side-by-side = true
