*
.vim/*
!.vim/plugin/
!.vim/ftplugin/
!.vim/after/
.config/*
!.config/starship.toml
!.alacritty.yml
!.bash_aliases
!.bash_functions
!.bash_starship
!.bashrc
!.gitconfig
!.gitignore
!.inputrc
!.tmux.conf
!.vimrc
!install.sh
!LICENSE
!README.md
