break-countdown-seconds=1800
lock-countdown-seconds=300
postpone-countdown-seconds=120
enabled=false
display-seconds=true
display-hours=false
display-time=true
display-icon=true
allow-postpone=true
auto-resume=false

